<div class="gravatar">
  <%= gravatar_for "#{@user.email}" %>
</div>
<div>
  <%= "e-mail address: #{@user.email}" %>
  <button><a href="/users/edit/<%= @user.id %>">update email address</a></button>
</div>

<% @user.photos.each do |p| %>
  <div class="all-photos">
    <a href="/photos/<%= p.id %>"><%= image_tag"#{p.photo_url.url(:square)}"%></a>
    <%= p.description %>
  </div>
<% end %>
