<div class="form">
  <h1>Submit Photo for Rating</h1>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag "/new-photo", method: "POST", class: "form" do %>
  <div class="field-wrap">
    <%= file_field_tag "photo[photo_url]" %>
  </div>
  <div class="field-wrap">
    <label>Description (optional)</label>
    <%= text_area_tag "photo[description]" %>
  </div>
  <%= submit_tag "Upload", class:"button button-block"%>
  <% end %>
</div>
