<!DOCTYPE html>
<html>
<head>
  <title>Image Rating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="header-body">

  <div id="page">
    <div id="logo">
      <%= link_to image_tag('keyboard_keys.jpg'), home_path %>
    </div>
    <ul id="navigation" class="unordered-list-header" >
      <% if !@current_user %>
        <li class="list-header"><a href="/photos/rating/:id" class="anchor-header">Review Photos</a></li>
        <li class="list-header"><a href="/sign-up" class="anchor-header">Sign-Up/In</a></li>
      <% end %>
      <% if @current_user %>
        <li class="list-header"><a href="/photos/rating" class="anchor-header">Review Photos</a></li>
        <li class="list-header"><a href="/add-photo" class="anchor-header">Add Photo</a></li>
        <li class="list-header"><a href="/user-photos" class="anchor-header">
          <%= "Hi, #{@current_user.username}" %></a></li>
        <li class="list-header"><a href="/sign-out" class="anchor-header">Log-Out</a></li>
      <% end %>
    </ul>

  <% if flash.any? %>
    <div>
      <%= flash[:notice] %>
      <%= flash[:success] %>
      <%= flash[:warning] %>
      <%= flash.now[:alert] %>
    </div>
  <% end %>

<%= yield %>

  </div>

</body>
</html>
