<!DOCTYPE html>
<html>
<head>
  <title>Image Rating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="page">
    <div id="logo">
      <%= image_tag "keyboard_keys.jpg" %>
    </div>
    <ul =id="navigation">
      <li><a href="/" class="on">Home</a></li>
      <li><a href="#">Random Photo</a></li>
      <li><a href="/add-photo">Add Photo</a></li>
      <li><a href="/sign-up">Sign-Up/In</a></li>
    </ul>

<%= yield %>

  </div>

</body>
</html>
